// body {
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
// }

.testcontainer {
  height: 100vh;
  width: 100%;
  background-color: #eee;
  position: relative;

  &__checkbox {
    display: none;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    border: .2rem solid gray;
    border-radius: 3rem;
    padding: .5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: all 1s 1s;
  }

  &__line-right,
  &__line-left {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: rotate(0) translate(-50%, 0);
    transform-origin: 0% 0%;
    width: 100rem;
    height: 1rem;
    background-color: black;
  }

  &__checkbox:checked ~ &__line-left {
    animation: moveLeftLineOut 3s;
    animation-fill-mode: forwards;
  }

  &__checkbox:not(:checked) ~ &__line-left {
    animation: moveLeftLineIn 3s;
    animation-fill-mode: forwards;
  }

  &__checkbox:checked ~ &__line-right {
    animation: moveRightLineOut 3s;
    animation-fill-mode: forwards;
  }

  &__checkbox:not(:checked) ~ &__line-right {
    animation: moveRightLineIn 3s;
    animation-fill-mode: forwards;
  }

  &__checkbox:checked + &__button {
    top: 95%;
  }

  @keyframes moveLeftLineOut {
    0% {
      bottom: 10rem;
      left: 50%;
      transform: rotate(0) translate(-50%, 0);
    }
    66% {
      bottom: 60%;
      left: 50%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
    100% {
      bottom: 60%;
      left: -1%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
  }

  @keyframes moveLeftLineIn {
    0% {
      bottom: 60%;
      left: -1%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
    33% {
      bottom: 60%;
      left: 50%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
    100% {
      bottom: 10rem;
      left: 50%;
      transform: rotate(0) translate(-50%, 0);
    }
  }

  @keyframes moveRightLineOut {
    0% {
      bottom: 10rem;
      left: 50%;
      transform: rotate(0) translate(-50%, 0);
    }
    66% {
      bottom: 60%;
      left: 50%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
    100% {
      bottom: 60%;
      left: 101%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
  }

  @keyframes moveRightLineIn {
    0% {
      bottom: 60%;
      left: 101%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
    33% {
      bottom: 60%;
      left: 50%;
      transform: rotate(90deg) translate(-50%, -50%);
    }
    100% {
      bottom: 10rem;
      left: 50%;
      transform: rotate(0) translate(-50%, 0);
    }
  }
}